# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Streamlit Cache
# =========================
.streamlit/
*.streamlit/

# =========================
# Logs & Temp Files
# =========================
*.log
*.tmp
*.temp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Model Files (YOLO)
# =========================
*.pt
models/

# =========================
# Flask Cache
# =========================
instance/
*.db

# =========================
# Jupyter (if used)
# =========================
.ipynb_checkpoints/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Environment Variables
# =========================
.env



Daily_work.txt